
.black_block {
	background-color: rgba(53, 53, 53, 1);
	black: 100%; 
	color:white; 
	padding: 20px 20px 20px 20px;
}

.white_block {
	padding: 20px 20px 20px 20px;
}

.concert_image{
	background-color: #E2E2E2;
	width:100%; 
	background-size: 700px; 
	z-index:1; 
	position: absolute; 
	background-position: center; 
	background-repeat:no-repeat; 
	background-attachment: fixed;
}

.email_box{
	
	border: none;
	border-bottom: 2px solid white;
	background-color: transparent;
}
.email_box:focus{
	color: white;
}

.send_box{
	background-color: #b80135;
	border: none;
	color: white;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
}